:root {
  --primary: #f1faee;
  --secondary: #a8dadc;
  --tertiary: #457b9d;
  --accent-primary: #e63946;
  --accent-secondary: #1d3557;
  --radius: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary);
  color: var(--accent-secondary);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--accent-secondary);
  text-align: center;
}

header h1 {
  background-color: var(--secondary);
  color: var(--accent-secondary);
}

header nav ul li a {
  color: var(--secondary);
}
