:root {
  --primary: #f1faee;
  --secondary: #a8dadc;
  --tertiary: #457b9d;
  --accent-primary: #e63946;
  --accent-secondary: #1d3557;
  --radius: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary);
  color: var(--accent-secondary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* START Header */
header {
  background-color: var(--secondary);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

header h1 a {
  background-color: var(--secondary);
  margin: 0;
  text-decoration: none;
  color: var(--accent-secondary);
}

/* Dropdown Menu */
.dropdown-button {
  font-size: 1.75rem;
  color: var(--accent-secondary);
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 0 0 0 20%;
  box-shadow: -3px 7px 6px 0px rgb(0 0 0 / 25%);
  text-align: right;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  color: var(--accent-secondary);
  font-size: 1.75rem;
  padding: 0px 0px 30px 30px;
  min-width: 225px;
  display: block;
}

.dropdown-content a:last-child {
  padding-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-size: 2.5rem;
}

.dropdown:hover .dropdown-button {
  background-color: var(--accent-secondary);
  color: var(--secondary);
}

/* END Header */

/* Style for ALL Section tags */
section {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

section h2 {
  text-align: center;
  line-height: 2;
  padding-right: 10px;
  width: 100px;
  border-right: 2px solid var(--accent-primary);
}

section p {
  padding-left: 10px;
}

/* START My work */
#my-work-header {
  border-right: none;
  border-bottom: 2px solid var(--accent-primary);
  width: fit-content;
}

.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.my-work h3 {
  display: flex;
  justify-content: flex-end;
  background: var(--accent-secondary);
  color: var(--secondary);
  padding-right: 10px;
}

.my-work img {
  width: 100%;
  max-height: 50%;
  border: 2px solid var(--accent-secondary);
  margin-top: 10px;
}

.my-work:hover {
  width: 100.5%;
  opacity: 0.8;
}

/* .showcase-app:hover {
  width: 100.5%;
  opacity: 0.8;
} */

.showcase-app img {
  width: 100%;
}

/* .showcase-app h3 {
  display: flex;
  justify-content: flex-end;
  background: var(--accent-secondary);
  color: var(--secondary);
  padding-right: 10px;
} */

/* END MY Work */

/* START Contact Me */
/* END Contact Me */

/* START Media Queries */
/* END Media Queries */
